<div class="center jumbotron">
  <h1>Bienvenue sur mon site EventBriteLike! :)</h1>
  <h3>Si tu es nouveau tu peux t'inscire ici : <%= link_to "Inscris toi !", new_user_path, class: "btn btn-success" %></h3>
  <h3>Ou tu peux te connecter là : <%= link_to "Connecte toi !", login_path, class: "btn btn-info" %></h3>

</div>