<div align="center">
<h1>Index des gentils Utilisateurs :)</h1>

	<table>
  	<tr>
  	  <th scope="col" style="text-align: center">ID du user  </th>
   	  <th scope="col" style="text-align: center">Nom  </th>
   
  	</tr>
 
  	<% @users.each do |user| %>
    <tr>
	  <td style="text-align: center"><%= user.id %></td>
    <td style="text-align: center"><%= user.name %></td>
    <td style="text-align: center"><%= link_to "Inspecter :)", user_path(user), class: "btn btn-primary" %></td>
      

    </tr>
    <% end %>
    </table>
</br>

<%= link_to "Tu veux voir les gros Events ?", events_path, class: "btn btn-lg btn-info" %>


</div>