<h1>Index de tous nos Events !! :)</h1>

	<table>
  	<tr>
  	  <th scope="col" style="text-align: center">Description de l'Event  </th>
   	  <th scope="col" style="text-align: center">Date  </th>
   	  <th scope="col" style="text-align: center">Lieu  </th>
   
  	</tr>
 
  	<% @events.each do |event| %>
    <tr>
	  <td style="text-align: center"><%= event.description %></td>
      <td style="text-align: center"><%= event.date %></td>
      <td style="text-align: center"><%= event.place %></td>
      <td style="text-align: center"> <%= link_to "Voir l'Event", event_path(event), class: "btn btn-info" %></td>
      

    </tr>
    <% end %>
    </table>
</br>
